<!DOCTYPE html>
<html>
  <head>
    <title>{{#if title}}{{title}}{{else}}Forum z vprašanji{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Domov</a></li>
        <li><a href='/questions'>Vprašanja</a></li>
        <li><a href='/questions/hot'>Vroča vprašanja</a></li>
        {{#if session.userId}}
        <li><a href='/users/profile'>
          <img src="/images/avatars/307ce493-b254-4b2d-8ba4-d12c080d6651.jpg" alt="Avatar" class="avatar">
          Profil
        </a></li>
        <li><a href='/questions/new'>Novo vprašanje</a></li>
        <li><a href='/users/logout'>Odjava</a></li>
        {{else}}
        <li><a href='/users/login'>Prijava</a></li>
        <li><a href='/users/register'>Registracija</a></li>
        {{/if}}
      </ul>
    </nav>

    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
